<ul class="post__social">
  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-stumbleupon"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-reddit-alien"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
  <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
</ul>
